$mocha : #8f6a45;

body {
	background-color:$mocha
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: "white";
}

h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size:2em;
	color: "white";
}